
body{
  /*background-color:darkkhaki;*/
  background-image: url(agf.jpg);
   background-size: cover;
  /*  width: 100%;
    height: 100vh;*/
}

.bmg1{
  background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/*Search engine*/

.seach-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt{
  width:240px;
  padding: 0 6px;
}

search-box:hover > .search-btn{
 background: white;
}


.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border:none;
  background: none;
  outline: none;
  
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.custom-padding{
    padding-top: 5px;
  }    
     
      .pd-width{
      padding-top: 100px;
      padding-bottom: 30px;
    
      }

    

    .logo {
      width: 15%;
      float: left;
      text-transform: uppercase;
      color: #fff;
      font-size: 25px;
      text-align: left;
      padding-left: 2%;
    }
    
     nav {
      position: relative;
      /*width: calc(100% - 60px);*/
      margin: 0 auto;
      padding:5px 10px 25px;
      background:purple;
      z-index: 1;
      text-align: right;
      padding-right: 2%;
    }
    nav a:hover{
        background-color: black;
    }
    nav img{
        border-radius: 20%;
        width: 45px;
        height: 45px;
    }
    .menu-area li a {
      text-decoration: none;
    }
    .menu-area li {
      list-style-type: none;
    }


    .menu-area li {
      display: inline-block;
    }
    
    .menu-area a {
      color: #fff;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: block;
      padding: 0 25px;
      font-size: 14px;
      line-height: 30px;
      position: relative;
      z-index: 1;
    }
    .menu-area a:hover {
      background: tomato;
      color: #fff;
    }
    
    .menu-area a:hover:after {
      transform: translateY(-50%) rotate(-35deg);
    }
    
    nav:before {
      position: absolute;
      content: '';
      border-top: 10px solid #333;
      border-right: 10px solid #333;
      border-left: 10px solid transparent;
      border-bottom: 10px solid transparent;
      top: 100%;
      left: 0;
    }
    
    nav:after {
      position: absolute;
      content: '';
      border-top: 10px solid #333;
      border-left: 10px solid #333;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      top: 100%;
      right: 0;
    }
    

    th:hover{
        max-zoom: 90px;
    }
    td img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    td img:hover{
        width: 180px;
        height: 180px;
        -moz-transform: rotate(360deg);
       /* -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
       
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;*/
        transform: rotate(360deg);
        transition: all 0.5s;
    }

    footer {
        background: #16222A;
        background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
        background: linear-gradient(59deg, #3A6073, #16222A);
        color: white;
        margin-top:100px;
      }
      
      
      footer a {
        color: #fff;
        font-size: 14px;
        transition-duration: 0.2s;
      }
      
      footer a:hover {
        color: #FA944B;
        text-decoration: none;
      }
      
      .copy {
        font-size: 12px;
        padding: 10px;
        border-top: 1px solid #FFFFFF;
      }
      
      .footer-middle {
        padding-top: 2em;
        color: white;
      }
      
      
      /*SOCİAL İCONS*/
      
      /* footer social icons */
      
      ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
      }
      
      ul.social-network li {
        display: inline;
        margin: 0 5px;
      }
      
      
      /* footer social icons */
      
      .social-network a.icoFacebook:hover {
        background-color: #3B5998;
      }
      
      .social-network a.icoLinkedin:hover {
        background-color: #007bb7;
      }
      
      .social-network a.icoFacebook:hover i,
      .social-network a.icoLinkedin:hover i {
        color: #fff;
      }
      
      .social-network a.socialIcon:hover,
      .socialHoverClass {
        color: #44BCDD;
      }
      
      .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
      }
      
      .social-circle li i {
        margin: 0;
        line-height: 30px;
        text-align: center;
      }
      
      .social-circle li a:hover i,
      .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
      }
      
      .social-circle i {
        color: #595959;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
      }
      
      .social-network a {
        background-color: #F9F9F9;
      }
      